.wrapper{
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 20px;
   
}
.movie-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background: #121212;
    color: #ffffff;
    padding: 20px;
}
.cards{
    min-height: 280px;
    background: #1e1e1e;
    border-radius: 15px;
    border: 2px solid white;
    color: #e0e0e0;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    transition: all 03.s ease-in-out;
    box-shadow: 0px 10px 25px ghostwhite;
    &:hover{
        transform: scale(1.03);
        border: 2px solid #e50914 ;
    }

}
.form{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label{
    width: 60%;
   
}
.input{
   width: 100%;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    color: black;
    margin-bottom: 30px;
}
.rasm{
    width: 80%;
    max-height: 300px;
    padding: 10px;
    border-radius: 20px;
}